body {
    margin: 0
}

ul {
    margin: 0;
    padding: 0;
}

#sliding-menu {
    height: 100vh;
    width: 300px;
    background-color: #2d2d2d;
    margin: 0
}

#tabs-container{
    width:100%;
    text-align:center;
    margin:auto;
    display: flex;
    justify-content: space-between;
}

.tab-item{
    color:white;
    height:50px;
    width:100%;
    display:inline-block;    
    text-align:center;
    margin:0;
}

.selected-tab-item {
    background-color: #4b4b4b;
}

.tab-icon{
    position: relative;
    top:10px;
    font-size:25px;
    text-align:center;
    margin:auto;
}

#parent-items-container{
    padding-top:10px;
    background-color: #4b4b4b;
    height: calc(100% - 50px);
    list-style-type: none;
}

.parent-list-item{
    padding-bottom:5px;
    width:100%;
}

.parent-list-item-icon{
    width: 75px;
    font-size:25px;
    color:white;
    margin-left:10px;
    display:inline-block;
    position: relative;
    top:5px;
    text-align: center;
}

.parent-list-item-text{
    color:white;
    display:inline-block;
    font-family:Arial;
    font-size:15px;
    position: relative;
    top:3px;
}

.selected-parent-item{
    background-color:#2d2d2d;
}

.parent-list-child-list{
    background-color:#2d2d2d;
    list-style-type: none;
}

.child-list-item{
    margin-left:10%;
    display:inline;
    
}

.child-list-item-icon{
    width:10%;
    font-size:25px;
    color:white;
    margin-left:10px;
    display:inline-block;
    position: relative;
    top:5px;
}

.child-list-item-text{
    color:white;
    display:inline-block;
    font-family:Arial;
    font-size:10px;
    position: relative;
    width:85%;
}